*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    /* position:fixed; bottom:0; */
    /* margin: auto;
    width: 60%;
    
    padding: 10px; */
    position: fixed;
    /* border: 5px solid #FFFF00;  */
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -05%);
    margin: 0 auto;
    padding: 20px;

}
.pace{


    width: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-style: none;
}

  .pacetext{
    color: white;
    font-size: 12px;}
.algotext{
    color: white;
    font-size: 12px;
  }

  .ran{
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 12px ;

  }
  
  .random{
    align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  }
  .random:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  .random:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .random:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  

  .range{
    display: block;
    margin-right: 100px;
    padding-top: 10px;

  
  }
.algo{
    width: 110px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0x;
    
    overflow: hidden;
    background-color: rgb(34, 33, 33);
    ;
    
  }
  .heading{
    color: #5468ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  li {
    float: left;
    margin: 8px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px ;
  }
.rotate {
  
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
.span{
  color: yellow;
}
.bars_container{
    display: flex;
     flex-direction: row;
    
     
}


.bar{
    width: 5px;
    background-color: rgb(38, 255, 0);
   
    border-radius: 10px;
    margin: 2px;
}


body{
    background: rgb(2,0,36);
    background: rgb(2, 0, 124);
}

.buttons_container > button, select{
    width: 200px;
    height: 30px;
    
    background-color: #5468ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition:  0.2s ease-in-out;
}

button:hover{
    background-color: #56697b;
}